body {
  background: #fff; }

h1 {
  font-size: 20px; }

h2 {
  font-size: 45px;
  color: #fff; }

h3 {
  font-size: 12px; }

div.container {
  position: relative;
  margin-top: 20px;
  max-width: 1200px;
  border-top: solid 50px #3b8dbc;
  background: #ebf0f6;
  border-bottom: solid 5px #3b8dbc; }
  div.container img {
    float: left;
    margin-bottom: 10px; }
  div.container div.right_box {
    float: left;
    clear: right;
    text-align: left;
    padding-left: 10px;
    font-weight: 900;
    background: #fff;
    width: 65%;
    height: 90px;
    margin-bottom: 10px; }
    div.container div.right_box h3 {
      margin-top: 10px;
      font-weight: 100; }
  div.container div#test_user {
    margin-top: 10px;
    border-top: solid 2px #3b8dbc;
    height: 245px;
    background: #fff; }
    div.container div#test_user img {
      width: 100px;
      border-radius: 50px;
      border-spacing: 5px;
      border: solid 5px #ebf0f6;
      margin-top: 0px; }
    div.container div#test_user div.captioned_image {
      width: 100px;
      margin: 10px auto;
      text-align: center; }
    div.container div#test_user button {
      background: #3b8dbc;
      border-radius: 2px;
      color: #fff;
      width: 240px;
      margin: 10px 0 10px 10px; }
    div.container div#test_user div.hidden {
      display: block !important; }
      div.container div#test_user div.hidden ul {
        background: #fff;
        padding-bottom: 15px; }
        div.container div#test_user div.hidden ul li {
          border-top: solid 1px #ccc;
          width: 240px;
          list-style: none;
          padding: 10px 0px;
          margin-left: -30px; }
          div.container div#test_user div.hidden ul li span {
            float: right; }
        div.container div#test_user div.hidden ul li:last-of-type {
          border-bottom: solid 1px #ccc; }
  div.container div#table {
    margin-top: 10px;
    border-top: solid 2px #ccc;
    margin-left: -20px;
    margin-bottom: 10px;
    padding: 10px;
    background: #fff; }
    div.container div#table #table_title {
      margin-bottom: 10px; }
    div.container div#table table {
      width: 100%; }
      div.container div#table table td,
      div.container div#table table th {
        padding: 10px 0;
        border-top: solid 1px #ccc; }
  div.container div#information {
    background: #fff;
    padding: 10px;
    margin-left: -20px;
    margin-bottom: 50px; }

@media (min-width: 1200px) {
  div#test_user {
    position: absolute;
    left: -25%; }

  div#table {
    float: right; } }
@media (max-width: 1200px) {
  div.container div.right_box {
    width: 73%; }

  div#table,
  div#information {
    position: relative;
    left: 50px; } }
@media (max-width: 990px) {
  div#test_user button {
    width: 96%;
    margin: 10px 0 10px 10px; }

  div#table,
  div#information {
    position: relative;
    left: 20px;
    width: 99%; } }
