body {
	background: #fff;
font-family: 'Source Sans Pro', sans-serif;
}
h1 {
	font-size: 22px;
}

h3 {
	font-size: 12px;
}
h4{
	color:#777777;
}

h5{
	color:#777777;
	font-size:12px;
}
div.container {
	margin-top: 20px;
	max-width: 1201px;
	border-top: solid 50px #3b8dbc;
	background: #ebf0f6;
	border-bottom: solid 5px #3b8dbc;
	img {
		float: left;
		margin-bottom: 10px;
	}
	div.right_box {
		float: left;
		clear: right;
		text-align: left;
		padding-left: 10px;
		font-weight: 900;
		background: #fff;
		width: 65%;
		height: 90px;
		margin-bottom: 10px;
		h3 {
			margin-top: 10px;
			font-weight: 100;
		}
	}
	div#test_user {
		margin-top: 10px;
		width: 260px;
		border-top: solid 2px #3b8dbc;
		height: 245px;
		background: #fff;
		margin: 0 auto;
		img {
			width: 100px;
			border-radius: 50px;
			border-spacing: 5px;
			border: solid 5px #ebf0f6;
			margin-top: 0px;
		}
		div.captioned_image {
			width: 100px;
			margin: 10px auto;
			text-align: center;
		}
		a {
			background: #3b8dbc;
			border-radius: 2px;
			color: #fff;
			width: 240px;
			margin: 10px 0 10px 10px;
			;
		}
		div#test_info {
			position:relative;
			z-index:100;
			ul {
				li {
					border-top: solid 1px #ccc;
					width: 240px;
					list-style: none;
					padding: 10px 0px;
					margin-left: -30px;
					span {
						float: right;
						color:#00c0ef
					}
				}
				li:last-of-type {
					border-bottom: solid 1px #ccc;
				}
				background: #fff;
				padding-bottom:15px;
			}
		}
	}
	

	div#table {
		#table_title {
			margin-bottom: 10px;
		}
		border-top: solid 2px #ccc;
		margin-left: -20px;
		margin-bottom: 10px;
		padding: 10px;
		background: #fff;
		table {
			width: 100%;
			td,
			th {
				padding: 10px 0;
				border-top: solid 1px #ccc;
			}		
			td span{
				padding:0 6px;
				color:#fff;
				border-radius:2px;
			}
				#aproved span {background:#3b8dbc}
				#agreed span {background:#00a65a}
				#denied span{background:#dd4c3b}
				#pending span{background:#f39c11}
		}
			#id{ width:8%;
				}
				#user{ width:20%;
				}
				#date{ width:15%;
				}
				#reason{ width:40%;
				}
	}
	
	div#information {
		background: #fff;
		padding: 10px;
		margin-left: -20px;
		margin-bottom: 50px;
		li.active a{
			border-top:solid 3px #3b8dbc;
		}
	}
}

@media (max-width: 1200px) {
 
	div#table,
	div#information{
		position:relative;
		left:10px;

	}
}

@media (max-width: 990px) {
 
	div#table,
	div#information{
		position:relative;
		left:10px;

	}
}